@model TERP.WebUIMVC.Models.PersonalViewModel
@{
    ViewBag.Title = "Personel Yönetimi";
}
<div class="page-titles">
    <h4>Personel Yönetimi</h4>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0)">Anasayfa</a></li>
        <li class="breadcrumb-item active"><a href="javascript:void(0)">Personel Yönetimi</a></li>
    </ol>
</div>
<!-- row -->
<div class="row">
    <div class="col-lg-12">
        <div class="card car-list-card">
            <div class="card-header d-sm-flex d-block border-0 pb-0">
                <div class="personal-list-header">
                    <h4 class="fs-20 text-black">Personel Listesi</h4>
                    <span class="fs-12"> Bu departmanda personel listenizi ve atamalarınızı yapabilirsiniz. </span>
                </div>
                @if (User.IsInRole("Koneks Admin"))
                {
                    <div class="dropdown custom-dropdown mb-0 mt-3 mt-sm-0">
                        <div class="btn cp-btn-add  cp-sedet cp-br-6" role="button" data-toggle="dropdown" aria-expanded="false"> Personel Ekle <i class="fa fa-caret-down text-primary ml-3" aria-hidden="true"></i> </div>
                        <div class="dropdown-menu dropdown-menu-right">
                            <button type="button" class="cp-new-add  btn-new-personal" data-toggle="modal" data-target="#addPersonal"> Yeni Personel Ekle </button>
                        </div>
                    </div>
                }
            </div>
            <div class="card-body">
                @if (TempData["PersonalSuccessResult"] != null)
                {
                    <div class="alert alert-success">@TempData["PersonalSuccessResult"]</div>
                }
                @if (TempData["PersonalErrorResult"] != null)
                {
                    <div class="alert alert-danger">@TempData["PersonalErrorResult"]</div>
                }
                <div class="table-responsive">
                    <table class="table mb-0 table-striped">
                        <thead>
                            <tr>
                                <th class="">
                                    <div class="custom-control custom-checkbox">
                                        <!-- <input type="checkbox" class="custom-control-input" id="checkAll">
                                        <label class="custom-control-label" for="checkAll"></label> -->
                                    </div>
                                </th>
                                <th>Ad Soyad</th>
                                <th>E-Posta</th>
                                <th>Telefon</th>
                                <th class="pl-5 width200">
                                    Adres
                                </th>
                                @*<th></th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var personal in Model.PersonalLists)
                            {
                                <tr class="btn-reveal-trigger">
                                    <td>
                                        <div class="custom-control custom-checkbox">
                                            <!-- <input type="checkbox" class="custom-control-input" id="checkbox1">
                                            <label class="custom-control-label" for="checkbox1"></label> -->
                                            <span>@personal.Id</span>
                                        </div>
                                    </td>
                                    <td class="py-3">
                                        <a href="#">
                                            <div class="media d-flex align-items-center">
                                                <!-- <div class="avatar avatar-xl mr-2">
                                                    <div class=""><img class="rounded-circle img-fluid"
                                                                       src="../assets/../assets/images/avatar/cp-personal.svg" width="30" alt="" />
                                                    </div>
                                                </div> -->
                                                <div class="media-body">
                                                    <h5 class="mb-0 fs--1">@($"{personal.FirstName} {personal.LastName}")</h5>
                                                </div>
                                            </div>
                                        </a>
                                    </td>
                                    <td class="py-2">
                                        <a href="javascript:void(0)">@personal.Email</a>
                                    </td>
                                    <td class="py-2"> <a href="javascript:void(0)">@personal.Phone</a></td>
                                    <td class="py-2 pl-5 wspace-no">@personal.Adress</td>

                                    @if (User.IsInRole("Koneks Admin"))
                                    {
                                        <td class="py-2 text-right">
                                            <div class="dropdown">
                                                <button class="btn boradi-btn btn-primary tp-btn-light sharp" type="button" data-toggle="dropdown">
                                                    <span class="fs--1">
                                                        <svg xmlns="http://www.w3.org/2000/svg"
                                                             xmlns:xlink="http://www.w3.org/1999/xlink"
                                                             width="18px" height="18px" viewBox="0 0 24 24"
                                                             version="1.1">
                                                            <g stroke="none" stroke-width="1" fill="none"
                                                               fill-rule="evenodd">
                                                                <rect x="0" y="0" width="24" height="24"></rect>
                                                                <circle fill="#000000" cx="5" cy="12" r="2">
                                                                </circle>
                                                                <circle fill="#000000" cx="12" cy="12" r="2">
                                                                </circle>
                                                                <circle fill="#000000" cx="19" cy="12" r="2">
                                                                </circle>
                                                            </g>
                                                        </svg>
                                                    </span>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right border py-0">
                                                    <button type="button" class="cp-new-add updatePersonal" value="@personal.Id" data-target="#addPersonal"> Düzenle </button>
                                                    <a href="/personal/remove/@personal.Id" class="btn cp-new-add" onclick="return confirm('Bu personel bilgisini silmek istediğinize emin misiniz?')">Sil</a>
                                                </div>
                                            </div>
                                        </td>

                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@if (User.IsInRole("Koneks Admin"))
{
    <div id="addPersonal" class="modal fade" style="display: none;" aria-hidden="true">
        <div class="modal-dialog cp-modal-dialog" role="document">
            <div class="modal-content boradi-4">
                <form method="post">
                    @Html.AntiForgeryToken()


                    <input type="hidden" value="0" id="beupdatedPersonalId" name="id" />
                    <div class="modal-header">
                        <h4 class="modal-title"> <strong>Yeni Personel Ekle</strong> </h4>
                        <button type="button" class="close" data-dismiss="modal">
                            <span>×</span>
                        </button>
                    </div>

                    <div class="modal-body cp-anc-modal-body">
                        <div class="container">
                            <div class="form-row">

                                <div class="form-group col-md-6">
                                    <label>Ad</label>
                                    <input type="text" id="beupdatedPersonalFirstName" class="form-control" value="" name="firstName" required>
                                </div>

                                <div class="form-group col-md-6">
                                    <label>Soyad</label>
                                    <input type="text" id="beupdatedPersonalLastName" class="form-control" value="" name="lastName" required>
                                </div>

                                <div class="form-group col-md-6">
                                    <label>E-Posta</label>
                                    <input type="email" id="beupdatedPersonalEmail" class="form-control" value="" name="email">
                                </div>

                                <div class="form-group col-md-6">
                                    <label>Telefon</label>
                                    <input type="tel" id="beupdatedPersonalPhone" class="form-control" name="phone" value="" required>
                                </div>
                                <div class="form-group col-md-12">
                                    <label>Kullanıcı</label>
                                    <select class="form-control" id="personalControlUserId" name="userID">
                                        @foreach (var user in Model.UserList)
                                        {
                                            <option value="@user.Id">@user.Username</option>
                                        }
                                    </select>
                                </div>

                                <div class="form-group col-md-12">
                                    <label>Adres</label>
                                    <textarea id="beupdatedPersonalAdress" class="form-control cp-anc-ta" name="adress" rows="4"></textarea>
                                </div>


                            </div>
                        </div>
                    </div>

                    <div class="modal-footer border-tn pr-25">

                        <button type="button" class="btn btn-danger light boradi-4" data-dismiss="modal"> Vazgeç </button>

                        <button class="btn btn-primary boradi-4 btn-personal-ekle" type="submit">Ekle</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
}

@*<div class="modal fade" id="modalGrid" style="display: none;" aria-hidden="true">
        <div class="modal-dialog cp-modal-dialog" role="document">
            <div class="modal-content boradi-4">
                <div class="modal-header">
                    <h4 class="modal-title"> <strong>Personel Düzenle</strong> </h4>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>×</span>
                    </button>
                </div>
                <div class="modal-body cp-anc-modal-body">
                    <div class="container">
                        <form method="post" action="/personal/add">
                            @Html.AntiForgeryToken()
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Ad</label>
                                    <input type="text" class="form-control" required name="firstName">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Soyad</label>
                                    <input type="text" class="form-control" required name="lastName">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>E-Posta</label>
                                    <input type="E-Posta" class="form-control" name="email">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Telefon</label>
                                    <input type="tel" id="phone" name="phone" class="form-control"
                                           required name="phone">
                                </div>


                                <div class="form-group col-md-12">
                                    <label>Adres</label>
                                    <textarea class="form-control cp-anc-ta" rows="4"
                                              id="comment" name="adress"></textarea>
                                </div>
                            </div>

                            <div class="modal-footer border-tn pr-0">
                                <button type="button" class="btn btn-danger light boradi-4"
                                        data-dismiss="modal">
                                    Vazgeç
                                </button>
                                <button type="submit" class="btn btn-primary boradi-4">Ekle</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>*@
