@model List<TERP.Entities.Concrete.User>
@{
    ViewBag.Title = "Kullanıcı Listesi";
    var roleList = (List<TERP.Entities.Concrete.Role>)ViewBag.Roles;
}
<div class="page-titles">
    <h4>Personel Yönetimi</h4>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0)">Anasayfa</a></li>
        <li class="breadcrumb-item active"><a href="javascript:void(0)">Personel Yönetimi</a></li>
    </ol>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card car-list-card">
            <div class="card-header d-sm-flex d-block border-0 pb-0">
                <div>
                    <h4 class="fs-20 text-black">Kullanıcı Listesi</h4>
                    <span class="fs-12">Bu departmanda şirket içerisinde çalışan ve yetki sahibi kullanıcıları listelemektesiniz.</span>
                </div>
            </div>
            <div class="card-body">
                @if (TempData["UserSuccessResult"] != null)
                {
                    <div class="alert alert-success">@TempData["UserSuccessResult"]</div>
                }
                @if (TempData["UserErrorResult"] != null)
                {
                    <div class="alert alert-danger">@TempData["UserErrorResult"]</div>
                }
                <div class="table-responsive">
                    <table class="table mb-0 table-striped">
                        <thead>
                            <tr>
                                <th>Rol</th>
                                <th>Kullanıcı Adı</th>
                                <th>Durum</th>
                            </tr>
                        </thead>
                        <tbody id="customers">
                            @foreach (var item in Model)
                            {
                                <tr class="btn-reveal-trigger">
                                    <td class="py-2">@roleList.FirstOrDefault(x => x.Id == item.RoleID).Name</td>
                                    <td class="py-2">@item.Username</td>
                                    <td class="py-2 @(item.IsActive?"text-success":"text-danger")">@(item.IsActive ? "Aktif" : "Pasif")</td>
                                    <td class="py-2 text-right">
                                        <div class="dropdown">
                                            <button class="btn boradi-btn btn-primary tp-btn-light sharp" type="button" data-toggle="dropdown">
                                                <span class="fs--1">
                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                         xmlns:xlink="http://www.w3.org/1999/xlink"
                                                         width="18px"
                                                         height="18px"
                                                         viewBox="0 0 24 24"
                                                         version="1.1">
                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                            <rect x="0" y="0" width="24" height="24"></rect>
                                                            <circle fill="#000000" cx="5" cy="12" r="2"></circle>
                                                            <circle fill="#000000" cx="12" cy="12" r="2"></circle>
                                                            <circle fill="#000000" cx="19" cy="12" r="2"></circle>
                                                        </g>
                                                    </svg>
                                                </span>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right border py-0">
                                                <a href="/user/changestatus/@item.Id" class="btn cp-new-add" onclick="return confirm('Bu kullanıcının durumunu @(item.IsActive?"pasif":"aktif") yapmak istediğinize emin misiniz?')">@(item.IsActive?"Pasif Yap":"Aktif Yap")</a>
                                                <button type="button" class="cp-new-add updateUser" value="@item.Id">Düzenle</button>
                                                <a href="/sifre-degistir/@item.Username" class="btn cp-new-add">Şifre Güncelle</a>
                                                <a href="/user/delete/@item.Id" class="btn cp-new-add" onclick="return confirm('Bu kullanıcıyı silmek istediğinize emin misiniz?')">Sil</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="updatePersonalModal" style="display: none" aria-hidden="true">
    <div class="modal-dialog cp-modal-dialog" role="document">
        <div class="modal-content boradi-4">
            <div class="modal-header">
                <h4 class="modal-title"><strong>Kullanıcı Düzenle</strong></h4>
                <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
            </div>
            <div class="modal-body cp-anc-modal-body">
                <div class="container">
                    <form method="post" action="/User/Update">
                        <input type="hidden" value="0" id="updatedPersonalId" name="id" />
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="" for="">Yetkilendirme </label>
                                <select class="form-control" id="updatedRoleId" name="roleID">
                                    <option value="">Rol Seçiniz</option>
                                    @foreach (var role in ViewBag.Roles)
                                    {
                                        <option value="@role.Id">@role.Name</option>
                                    }
                                </select>
                            </div>

                            <div class="form-group col-md-6">
                                <label class="" for="">Kullanıcı Adı </label>
                                <input type="text" class="form-control" id="updatedUsername" name="username" autocomplete="off" placeholder="Kullanıcı adı" />
                            </div>
                        </div>
                        <div class="modal-footer pr-25 border-tn">
                            <button type="button" class="btn btn-danger light boradi-4" data-dismiss="modal">Vazgeç</button>
                            <button type="submit" class="btn btn-primary boradi-4">Güncelle</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
