@model List<TERP.Entities.Concrete.Company>
@{
    ViewBag.Title = "Firma Bilgileri";
}

<div class="page-titles">
    <div class="hp-title">
        <h4 class="hp-h4">Firma Bilgileri</h4>
    </div>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0)">Anasayfa</a></li>
        <li class="breadcrumb-item active"><a href="javascript:void(0)">Firma Bilgileri</a></li>
    </ol>
</div>
<!-- row -->
<div class="page-titles form-head d-flex flex-wrap justify-content-end align-items-center mb-4">

    @if (User.IsInRole("Koneks Admin"))
    {
        <a href="javascript:void(0)" class="btn btn-primary btn-rounded mr-3 mb-2 btn-new-company" data-toggle="modal"
           data-target="#addCompany">
            <i class="las la-location-arrow scale5 mr-3"></i>
            Adres Ekle
        </a>

        <div class="modal fade" id="addCompany" style="display: none;" aria-hidden="true">
            <div class="modal-dialog cp-modal-dialog" role="document">
                <div class="modal-content boradi-4">
                    <form method="post">
                        @Html.AntiForgeryToken()
                        <input type="hidden" value="0" id="updatedCompanyId" name="id" />
                        <div class="modal-header">
                            <h4 class="modal-title comin-title"> <strong>Yeni Firma Ekle</strong> </h4>
                            <button type="button" class="close" data-dismiss="modal">
                                <span>×</span>
                            </button>
                        </div>
                        <div class="modal-body cp-anc-modal-body">
                            <div class="container">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label>Firma Ünvanı:</label>
                                        <input type="text" class="form-control" value="" id="updatedCompanyName" name="name" required>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Yetkili:</label>
                                        <input type="text" class="form-control" name="officerFullName" id="updatedCompanyOfficerFullName" required>
                                    </div>
                                    <div class="form-group col-md-6 mt-20">
                                        <label>Mersis NO:</label>
                                        <input type="text" id="updatedCompanyMersisNo" name="mersisNo" class="form-control" required>
                                    </div>

                                    <div class="form-group col-md-6 mt-20">
                                        <label>Ticaret Sicil NO:</label>
                                        <input type="text" id="updatedCompanyEnrolmentNo" name="enrolmentNo" class="form-control" required>
                                    </div>

                                    <div class="form-group col-md-6 mt-20">
                                        <label>E-Posta</label>
                                        <input type="email" class="form-control" name="email" id="updatedCompanyEmail">
                                    </div>
                                    <div class="form-group col-md-6 mt-20">
                                        <label>Telefon</label>
                                        <input type="tel" id="updatedCompanyPhone" name="phone" class="form-control" required>
                                    </div>


                                    <div class="form-group col-md-12 mt-20">
                                        <label>Adres</label>
                                        <textarea class="form-control cp-anc-ta" rows="4"
                                                  id="updatedCompanyAdress" name="adress"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer border-tn pr-25">
                            <button type="button" class="btn btn-danger light boradi-4"
                                    data-dismiss="modal">
                                Vazgeç
                            </button>
                            <button type="submit" class="btn btn-primary boradi-4 btn-company-ekle">Ekle</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    }

</div>
<div class="row">
    <div class="col-12">
        <div class="card comin-card">
            <div class="card-header">
                <h4 class="card-title">İşbirliği Yapılan Firma Bilgileri</h4>
            </div>
            <div class="card-body">
                @if (TempData["CompanySuccessResult"] != null)
                {
                    <div class="alert alert-success">@TempData["CompanySuccessResult"]</div>
                }
                @if (TempData["CompanyErrorResult"] != null)
                {
                    <div class="alert alert-danger">@TempData["CompanyErrorResult"]</div>
                }
                <div class="table-responsive">
                    <table id="example3" class="display min-w850">
                        <thead>
                            <tr>
                                <th></th>
                                <th>FİRMA UNVANI</th>
                                <th>MERSİS NO.</th>
                                <th>TİCARET SİCİL NO.</th>
                                <th>TELEFON</th>
                                <th>E-POSTA</th>
                                <th>ADRES</th>
                                <th>YETKİLİ</th>
                                @if (User.IsInRole("Koneks Admin"))
                                {
                                    <th>İşlem</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var company in Model)
                            {
                                <tr>
                                    <td>
                                        <img class="rounded-circle" width="35" src="/content/assets/images/profile/small/logistics.png" alt="">
                                    </td>
                                    <td>@company.Name</td>
                                    <td>@company.MersisNo</td>
                                    <td>@company.EnrolmentNo</td>
                                    <td><a href="javascript:void(0);"><strong>@company.Phone</strong></a></td>
                                    <td><a href="javascript:void(0);"><strong>@company.Email</strong></a></td>
                                    <td>@company.Adress</td>
                                    <td>@company.OfficerFullName</td>
                                    @if (User.IsInRole("Koneks Admin"))
                                    {
                                        <td>
                                            <div class="d-flex">
                                                <button type="button" class="btn btn-primary shadow btn-xs sharp mr-1 boradi-4 updateCompany" value="@company.Id"><i class="fa fa-pencil"></i></button>
                                                <a href="/company/remove/@company.Id" onclick="return confirm('Bu firma bilgisini silmek istediğinize emin misiniz?')" class="btn btn-danger shadow btn-xs sharp boradi-4"><i class="fa fa-trash"></i></a>
                                            </div>
                                        </td>
                                    }

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

